<h2>Ciao <%= @resource.email %>!</h2>

<p>Qualcuno ha richiesto il ripristino della password per il tuo account.</p>

<p><%= link_to 'Clicca qui per reimpostare la password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non sei stato tu, ignora questa email.</p>
<p>Il link scadrà tra <%= Devise.reset_password_within.inspect %>.</p>